name: TNXG„ÅÆNpmPublisher
on:
  push:
    branches:
      - master
  watch:
    types: [started]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - name: publish
        run: |
          cd arknights
          npm publish
          cd ../
          cd genshin
          npm publish
          cd ../
          cd others
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
